@page {
    size: letter;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

/* Hide empty elements when printing */
@media print {
    .container:empty, .header:empty, .empresa-info:empty, .pedido-info:empty, .datos-cliente:empty, .table-container:empty, .totales:empty, .despedida:empty {
        display: none;
    }
    
    /* Additional rules to ensure no blank pages */
    .container {
        page-break-inside: avoid;
    }
    
    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    table {
        page-break-inside: auto;
    }

    th, td {
        page-break-inside: avoid;
    }
}
